.cardProduct {
  width: 100%;
  box-shadow: 0px 2px 3px 0px rgb(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  font-size: 15px;
  gap: 10px;
  flex-wrap: nowrap;
  min-height: 60px;
  align-items: start;
  margin-bottom: 8px;
}

.cardProduct > div {
  text-align: center;
}

.cardProduct > div:nth-child(1) {
  width: 10%;
  max-width: 150px;
}

.cardProduct > div:nth-child(2) {
  width: 40%;
  text-align: left;
}

.cardProduct > div:nth-child(3) {
  width: 20%;
}

.cardProduct > div:nth-child(4) {
  width: 20%;
}

.cardProduct > div:nth-child(5) {
  width: 10%;
}

.categoryContainer {
  width: 100%;
  height: 30px;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  padding: 4px 10px;
  overflow: hidden;
}

.imgProduct {
  width: 100%;
}

.cardBody {
  padding-top: 6px;
}

.cardTitle {
  font-size: 17px;
  overflow: hidden;
}

.cardText {
  font-size: 14px;
}

.cardDifficulty {
  font-size: 18px;
  line-height: 25px;
}

.starIcon {
  color: #d8a508;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.clockIcon {
  color: #333;
}

.scheduleContainer {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 6px;
}

.cardButtonContainer {
  display: flex;
  margin-right: 8px;
  justify-content: end;
  gap: 4px;
  font-size: 16px;
}

.cardButtonContainer .mat-icon {
  font-size: 23px;
  display: flex;
  color: #555;
  justify-content: center;
  align-items: center;
}

.cardButton {
  background-color: #fff;
  padding: 5px 10px !important;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 4px;
  border: 0px solid #ddd;
  transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease;
  border-radius: 5px;
}

.cardButton:hover {
  background-color: #f1f1f1;
  transform: scale(1.11);
}

.cardButtonDelete {
  color: #fff;
  border: 0px solid #ddd;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.cardButtonDelete:hover {
  background-color: #e02804;
  color: #fff;
}

.cardButtonDelete:hover .mat-icon {
  color: #fff;
}

.cardButtonDelete .mat-icon {
  font-size: 22px;
  color: #ff0000;
}

.editButton {
  color: var(--button-bg-color) !important;
}

.viewButton {
  color: #45ba1c !important;
}
