<div class="cardProduct">
  <div>
    <img
      [src]="getFullImageUrl(product.imageUrl)"
      alt="{{ product.name }}"
      class="imgProduct"
    />
  </div>

  <div class="cardBody">
    <h5 class="cardTitle">{{ product.name }}</h5>
    <p class="cardTitle">{{ product.sku }}</p>

    
  </div>

  <div class="cardBody">
    <div>ggggg</div>
  </div>

  <div class="cardBody">
    <div>ggggg</div>
  </div>

  <div class="cardButton">
    <button
      class="btn btn-success buttonCard"
      (click)="onSelected()"
      matTooltipPosition="above"
      matTooltipShowDelay="100"
      matTooltipHideDelay="100"
      matTooltip="Detail"
    >
      <mat-icon>list_alt</mat-icon>
    </button>

    <button
      class="btn btn-success buttonCard"
      (click)="onEditProduct(product.id)"
      matTooltipPosition="above"
      matTooltipShowDelay="100"
      matTooltipHideDelay="100"
      matTooltip="Edit"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <button
      class="btn btn-success buttonCard"
      (click)="onPhotoProduct(product.id)"
      matTooltipPosition="above"
      matTooltipShowDelay="100"
      matTooltipHideDelay="100"
      matTooltip="Photo"
    >
      <mat-icon>photo_camera</mat-icon>
    </button>
    <button
      class="btn btn-danger buttonCard buttonCardDelete"
      (click)="onDeleteProduct(product.id)"
      matTooltipPosition="above"
      matTooltipShowDelay="100"
      matTooltipHideDelay="100"
      matTooltip="Delete"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
