<div class="loginContainer">
  <div class="loginBox">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div>
        Recipes book developed in Angular - Spring Boot
        <br />
        www.davidebalice.dev
      </div>
      <div>
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          required
          [(ngModel)]="username"
          name="username"
          #usernameInput="ngModel"
        />
        <div *ngIf="usernameInput.invalid && usernameInput.touched">
          Username is required
        </div>
      </div>
      <div>
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          required
          [(ngModel)]="password"
          name="password"
          #passwordInput="ngModel"
        />
        <div *ngIf="passwordInput.invalid && passwordInput.touched">
          Password is required
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
    <div *ngIf="errorMessage" class="errorMessage">
      {{ errorMessage }}
    </div>
  </div>
</div>
