<h5>Products > Categories</h5>
<hr />

<mat-card class="pageCard">
  <mat-card-content>
    <div class="buttonContainer">
      <button (click)="onNewCategory()" class="buttonBase buttonHeight">
        <mat-icon>add_circle</mat-icon>
        New category
      </button>
    </div>
    <hr />

    <div class="rowTitle">
      <div>Category</div>
      <div>Manage</div>
    </div>

    <div class="row">
      <ng-container *ngIf="categories.length > 0; else noCategory">
        <div class="col-12" *ngFor="let category of categories">
          <div class="cardRow">
            <div class="cardBody">
              <h5 class="cardTitle">{{ category.name }}</h5>
            </div>

            <div class="cardButtonContainer">
              <button
                class="cardButton"
                (click)="onEditCategory(category.id)"
                matTooltipPosition="above"
                matTooltipShowDelay="100"
                matTooltipHideDelay="100"
                matTooltip="Edit"
              >
                <mat-icon class="editButton">edit</mat-icon>
              </button>

              <button
                class="cardButton cardButtonDelete"
                (click)="onDelete(category.id,category.name)"
                matTooltipPosition="above"
                matTooltipShowDelay="100"
                matTooltipHideDelay="100"
                matTooltip="Delete"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-template #noCategory>
        <div class="noCategory">No category available.</div>
      </ng-template>

      <div *ngIf="isLoading" class="loadingContainer">
        <img src="../../../assets/images/loading.svg" />
      </div>
    </div>
  </mat-card-content>
</mat-card>
