.detailImgContainer {
  float: left;
  margin-right: 25px;
}

.detailImg {
  max-width: 350px;
}

.detailContainer h1 {
  font-size: 20px;
}

.detailContainer h4 {
  font-size: 16px;
  margin-top: 20px;
  font-weight: normal;
}

.detailContainer p {
    margin-top: 4px;
  }
