:root {
  --button-bg-color: #1790d5;
  --button-text-color: #fff;
  --button-hover-bg-color: #0e78b4;
  --button-hover-text-color: #fff;
}

.buttonBase {
  border: none;
  border-radius: 4px;
  align-items: center;
  display: flex;
  cursor: pointer;
  padding: 7px 12px;
  height: 46px;
  gap: 8px;
  box-shadow: 0px 2px 3px 0px rgb(0, 0, 0, 0.2);
  transition: background-color 0.4s ease, color 0.4s ease;
  background: var(--button-bg-color);
  color: var(--button-text-color);
}

.buttonBase:hover {
  background: var(--button-hover-bg-color);
  color: var(--button-hover-text-color);
}

.buttonCancel {
  background-color: #999;
}

.buttonBack {
  margin-bottom: 30px;
}

.formContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.inputContainer {
  width: 48%;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  border-bottom: 2px solid #999;
  margin-bottom: 20px;
}

.inputContainerFull {
  width: 100%;
}

.submitContainer {
  width: 100%;
  text-align: center;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.labelText {
  font-size: 14px;
  padding-left: 8px;
  padding-top: 5px;
}

.inputField {
  background: none;
  border: none;
  font-size: 16px;
  padding: 9px;
}

.inputField:focus {
  outline: none;
}

.cardRow {
  width: 100%;
  box-shadow: 0px 2px 3px 0px rgb(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  font-size: 15px;
  gap: 10px;
  flex-wrap: nowrap;
  min-height: 50px;
  align-items: start;
  margin-bottom: 8px;
}

.rowTitle {
  width: 100%;
  border-bottom: 1px solid #ddd;
  display: flex;
  gap: 10px;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 6px;
  margin-bottom: 8px;
  flex-wrap: nowrap;
}

.loadingContainer {
  min-height: 350px;
  padding-top: 30px;
  text-align: center;
}

.cardButtonContainer {
  display: flex;
  margin-right: 8px;
  justify-content: end;
  gap: 4px;
  font-size: 16px;
}

.cardButtonContainer .mat-icon {
  font-size: 23px;
  display: flex;
  color: #555;
  justify-content: center;
  align-items: center;
}

.cardButton {
  background-color: #fff;
  padding: 5px 10px !important;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 4px;
  border: 0px solid #ddd;
  transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease;
  border-radius: 5px;
}

.cardButton:hover {
  background-color: #f1f1f1;
  transform: scale(1.11);
}

.cardButtonDelete {
  color: #fff;
  border: 0px solid #ddd;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.cardButtonDelete:hover {
  background-color: #e02804;
  color: #fff;
}

.cardButtonDelete:hover .mat-icon {
  color: #fff;
}

.cardButtonDelete .mat-icon {
  font-size: 22px;
  color: #ff0000;
}

.editButton {
  color: var(--button-bg-color) !important;
}

.viewButton {
  color: #45ba1c !important;
}

.pageCard {
  min-height: calc(100vh - 250px);
}
